[Desktop Entry]
Exec=handy --toggle-post-process
Name=Handy
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
