packages: [
  "eslint-tab-length"
  "file-templates"
  "linter"
  "linter-eslint"
  "linter-markdown"
  "logo-file-icons"
  "markdown-preview-plus-opener"
  "markdown-toc"
  "markdown-writer"
  "package-sync"
  "react"
  "tabs-to-spaces"
  "turbo-javascript"
  "wakatime"
]
